@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  @apply bg-gray-100;
}

body {
  @apply h-full;
}

.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}
